@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans; 
  }
}

::-webkit-scrollbar {
  width: 0.75rem;
}

::-webkit-scrollbar-track {
  background: theme('colors.bg-white');
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: theme('colors.bg-primary');
  border-radius: 10px;
}